---
import '../styles/globals.css'

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="peace">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Peace Houston - Resources and Support" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4VTH5QR11P"></script>    
    <script>
      // @ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4VTH5QR11P');
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--primary-dark);
  }
</style>