---
---

<section id="calendar">
    <div class="section-divider">
      Please schedule a face-to-face meet up with someone from our team
    </div>
    <div class="calendar-container">
      <!-- Calendly inline widget begin -->
       <!-- 
      <div class="calendly-inline-widget" 
      data-url="https://calendly.com/bethel-peace-houston/in-person-meetup?background_color=FFFFFF&primary_color=0b8d91&hide_gdpr_banner=1"
      data-hide_gdpr_banner="1">
      </div>-->

      <div class="calendly-inline-widget" data-url="https://calendly.com/d/cqwn-kxh-s2v?background_color=FFFFFF&primary_color=0b8d91&hide_gdpr_banner=1"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
      <!-- Calendly inline widget end -->
    </div>
</section>
  
<style>
    #calendar {
      min-height: 55vh;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px 0;
    }
  
    .calendar-container {
      flex: 1;
      display: flex;
      width: 100%;
      background-image: url('../assets/calendar_background.jpg');  /* Add your image path here */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .calendly-inline-widget {
      flex: 1;
      min-height: 700px;
      width: 100%;
    }
</style>