---
import { Image } from 'astro:assets';
import podcastImage from '../assets/podcast.jpg';
import booksImage from '../assets/books.jpg';
import localResourcesImage from '../assets/local_resources.jpg';

const resources = [
    {
        image: podcastImage,
        title: 'Podcast',
        description: 'Join local support groups in the Houston area.'
    },
    {
        image: booksImage,
        title: 'Meditation Resources',
        description: 'Access guided meditations and mindfulness exercises.'
    },
    {
        image: localResourcesImage,
        title: 'Professional Help',
        description: 'Connect with licensed therapists and counselors.'
    },
];
---

<section id="resources">
    <div class="section-divider" style="margin-top: 0;">Explore these curated resources designed to support and guide you.</div>
    <div class="resources-grid">
        {resources.map((resource) => (
            <div class="resource-item">
                <Image 
                    src={resource.image} 
                    alt={resource.title}
                    width={400}
                    height={300}
                    quality={80}
                />
                <div class="resource-details">
                    <h3>{resource.title}</h3>
                    <p>{resource.description}</p>
                </div>
            </div>
        ))}
    </div>
</section>

<style>

    .resources-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .resource-item {
        height: 250px;
        background-color: #f8f9fa;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 6px var(--shadow-color);
        cursor: pointer;
        overflow: hidden;
        position: relative;
        transition: transform 0.3s ease;
    }

    .resource-item:hover {
        transform: scale(1.05);
    }

    .resource-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .resource-details {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 8px var(--shadow-color);
        padding: 20px;
        border-radius: 10px;
        overflow-y: auto;
    }

    .resource-item.active .resource-details {
        display: block;
    }
</style>

<script>
    // Resource click functionality
    const resourceItems = document.querySelectorAll('.resource-item');
    resourceItems.forEach(item => {
        item.addEventListener('click', () => {
            resourceItems.forEach(i => i.classList.remove('active'));
            item.classList.add('active');
        });
    });
</script>